<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Estados</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Información del estado</h2>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardarEstado}"
              method="post"
              th:object="${estado}">
            <input type="hidden" name="idEstado" th:field="*{idEstado}"/>
            <label for="id">Id:</label>
            <input type="text" name="idpais" th:field="*{idpais}"/>
            </br>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombreEstado" th:field="*{nombreEstado}"/>
            </br>
            <label for="id">Capital:</label>
            <input type="text" name="capital" th:field="*{capital}"/>
            </br>
            <label for="id">Población:</label>
            <input type="text" name="poblacion" th:field="*{poblacion}"/>
            </br>
            <label for="id">Costas</label>
            <input type="text" name="costas" th:field="*{costas}"/>
            </br>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
